

<h1 class="mx-3">Posts</h1>


<div class="container text-end">
  <div class="row text-end">
    
    <div class="col">
      <%== pagy_info(@pagy) %>
    </div>
    <div class="col">
    <%if @pagy.pages > 1 %>
      <%== pagy_bootstrap_nav(@pagy) %>
      <%end%>
    </div>
  </div>
</div>




<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<div class="container text-end">
  <div class="row text-end">
    <div class="col text-end">
      
    </div>
    
    <div class="col text-end">
    <%if @pagy.pages > 1 %>
      <%== pagy_bootstrap_nav(@pagy) %>
      <%end%>
    </div>
  </div>
</div>